# Laravel
/vendor
/node_modules
/public/storage
/public/hot
/storage/*.key
/storage/*.log
/storage/debugbar
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
.env
.env.*
.env.backup
.phpunit.result.cache
Homestead.yaml
Homestead.json
docker-compose.override.yml
npm-debug.log
yarn-error.log

# IDE / 系統
.DS_Store
.idea
.vscode
*.sublime-project
*.sublime-workspace
*.log
*.bak
*.tmp
