/* 節點樣式 */
.node {
    cursor: pointer;
    z-index: 10;
}

/* 邊線樣式 */
line {
    stroke: red;
    stroke-width: 2;
    cursor: pointer;
    pointer-events: visibleStroke;
}

/* 高亮選中的節點 */
.node.selected {
    background-color: orange !important;
    border: 2px solid #fff;
}

/* 臨時邊線樣式 */
#temp-line {
    stroke: orange;
    stroke-width: 2;
    stroke-dasharray: 5;
    pointer-events: none;
}

/* 箭頭設定 */
#edges-layer marker {
    pointer-events: none;
}
